.multipleAnswerForm {
  padding: 6px;
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.textAnswerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
